/* ==================================================
   CREATE REFINE
   ================================================== */

.loading-wrap {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loading-spinner {
    width: 65px;
    height: 65px;
    border: 6px solid rgba(255,255,255,0.15);
    border-top-color: #b197ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-msg {
    font-size: 17px;
    opacity: 0.8;
    animation: fade 2.5s ease-in-out infinite;
}

@keyframes fade {
    0% {
        opacity: .5
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: .5
    }
}
